<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ezbus.mit20550588.manager">
    <!-- ////////// For Google Maps APIs ////////////// -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzBusManager"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.Login.FleetRegistration"
            android:exported="false"
           />
        <activity
            android:name=".ui.Settings.ContactUs"
            android:exported="false"
           />
        <activity
            android:name=".ui.Settings.AboutUs"
            android:exported="false"
          />
        <activity
            android:name=".ui.Settings.SecuritySettings"
            android:exported="false"
             />
        <activity
            android:name=".ui.Settings.PaymentSettings"
            android:exported="false"
            />
        <activity
            android:name=".ui.Settings.ProfileSettings"
            android:exported="false"
             />
        <activity
            android:name=".ui.Login.AccountSetupCompleted"
            android:exported="false"
           />
        <activity
            android:name=".ui.Login.AddPayment"
            android:exported="false"
            />
        <activity
            android:name=".ui.Login.AccountCreated"
            android:exported="false"
          />
        <activity
            android:name=".ui.Login.SignUpEmailVerification"
            android:exported="false"
           />
        <activity
            android:name=".ui.ForgotPassword.PasswordChanged"
            android:exported="false"
            />
        <activity
            android:name=".ui.ForgotPassword.CreateNewPassword"
            android:exported="false"
            />
        <activity
            android:name=".ui.ForgotPassword.ForgotPasswordCodeCheck"
            android:exported="false"
            />
        <activity
            android:name=".ui.ForgotPassword.ForgotPassword"
            android:exported="false"
             />
        <activity
            android:name=".ui.Login.SignUp"
            android:exported="false"
           />
        <activity
            android:name=".ui.Login.Login"
            android:exported="false"
           >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.Settings.TermConditions"
            android:exported="false"
            />
        <activity
            android:name=".ui.Settings.PrivacyPolicyActivity"
            android:exported="false"
           />
        <activity
            android:name=".ui.Settings.Settings"
            android:exported="true"
       >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" /> <!-- ADDED TO DEBUG THE MAP FRAGMENT ERROR -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>